:root {
	--unselected-tab-background: #e3e3e3;
	--selected-tab-background: #333;
}

:root:not([customizing]) #navigator-toolbox {
	/*background-color: var(--unselected-tab-background)!important;*/
}

:root:not([customizing]) #navigator-toolbox #nav-bar {
	min-height: 0!important;
	max-height: 0;
}

:root:not([customizing]) #navigator-toolbox:focus-within #nav-bar {
	max-height: unset;
	overflow: visible!important;
}

:root:not([customizing]) #urlbar[breakout] {
	--urlbar-toolbar-height: 32px!important;
}

:root:not([customizing]) .tabbrowser-tab:not([pinned="true"]) {
	--tab-min-width: fit-content;
	-moz-box-flex: 0!important;
	max-width: 70px;
}

:root:not([customizing]) .tabbrowser-tab:not([pinned="true"]) .tab-stack {
	flex-basis: 1;
}

:root:not([customizing]) .tabbrowser-tab[selected="true"] .tab-background {
	background-color: var(--selected-tab-background)!important;
}

:root:not([customizing]) .tab-content {
	padding: 0 6px;
}

:root:not([customizing]) .tab-line,
:root:not([customizing]) .tab-text,
:root:not([customizing]) .tab-close-button {
	display: none;
}

:root:not([customizing]) .tab-icon-image {
	margin: 0!important;
}
